html{padding: 0; margin: 0}

body{background: none}

.bg-roxo{background-color:#673ab7 }

.h1, h1{ font-size: 1.8rem; }

.h2, h2{ font-size: 1.5rem; }

.h3, h3{ font-size: 1.2rem; }

.h4, h4{ font-size: 1rem; }

.h5, h5{ font-size: 0.8rem; }

.h6, h6{ font-size: 0.5rem; }
